<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <form method="POST">
        <section class="inputs">
          <input type="text" placeholder="Enter any city..." id="cityinput" name="city">
          <!-- <input type="submit" name="city" value="Submit" id="add"> -->
          <button placeholder="submit" id="add">Add City</button>
        </section>
      </form>
    </div>
    <div class="row">
      <section class="main">
  
        {% for weather in weather_data %}
        <section class="display">
          <div class="wrapper">
            <h2 id="cityoutput">{{weather.city}}</h2>
            <p id="description">{{weather.description}}</p>
            <p id="temp">{{weather.temperature}}</p>
            <p id="wind">{{weather.wind}}</p>
          </div>
        </section>
        {% endfor %}
      </section>
    </div>
  </div>
</body>

</html>